<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Terms and conditions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      Please read terms and conditions carefully.
    </ion-card-header>
    <ion-card-content>
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, accusamus reiciendis non atque reprehenderit totam perspiciatis iusto maiores. Natus, ad? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam omnis in tempora ipsa vitae eligendi quas fuga cupiditate atque? Quia numquam ab sequi dolores inventore? Ut quod eaque molestiae modi doloribus sunt atque neque pariatur dicta itaque placeat reiciendis, consequuntur ipsum voluptas recusandae praesentium culpa quis suscipit voluptatibus dolore totam ipsa assumenda dolores. Rem, assumenda sint? Excepturi quia molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit id nihil quae eos necessitatibus error illum asperiores officiis amet facere.
    </ion-card-content>
    <ion-footer>
      <ion-button expand="block" color="primary">Agree</ion-button>
    </ion-footer>
  </ion-card>
</ion-content>